auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
prefer-workspace-packages=true
public-hoist-pattern[]=next
public-hoist-pattern[]=next-*
public-hoist-pattern[]=@next/*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-dom
